#map {
  float: left;
  height: 100%;
  width: 20%;
}

#pano {
  float: left;
  height: 100%;
  width: 80%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}