<!DOCTYPE html>
<html>

<head>
  <title>Excercise Street View</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <div id="map"></div>
  <div id="pano"></div>

  <script src="static/js/streetview.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap" async defer></script>
</body>

</html>